name: kubectl-bai-config auto-release

on:
  push:
    paths-ignore:
      - "plugins/bai-config.yaml"
    branches:
      - main

jobs:
  publish:
    runs-on: ["self-hosted", "mgmt-automation"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Get PR from merged commit to the default branch
      - uses: actions-ecosystem/action-get-merged-pull-request@v1
        id: get-merged-pull-request
        with:
          github_token: ${{ secrets.PAT_ORG_ADMIN_REPO_ALL }}

      # Publish Release
      - uses: release-drafter/release-drafter@v5
        id: release-drafter
        with:
          publish: ${{ !contains(steps.get-merged-pull-request.outputs.labels, 'no-release') }}
          prerelease: false
          config-name: auto-release.yml
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_ORG_ADMIN_REPO_ALL }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.18

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_ORG_ADMIN_REPO_ALL }}

      - name: Update plugin manifest version
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          include: "krew.template.yaml"
          find: $VERSION
          replace: ${{ steps.release-drafter-pre.outputs.tag_name }}

      - name: Update Plugin Manifest
        run: cp krew.template.yaml plugins/bai-config.yaml

      - name: Commit Plugin Manifest Update
        uses: test-room-7/action-update-file@v1
        with:
          file-path: plugins/bai-config.yaml
          commit-msg: Updating krew plugin manifest for ${{ steps.release-drafter-pre.outputs.tag_name }}
          github-token: ${{ secrets.PAT_ORG_ADMIN_REPO_ALL }}
