name: kubectl-bai-config auto-release

on:
  push:
    paths-ignore:
      - "plugins/bai-config.yaml"
    branches:
      - main

jobs:
  publish:
    runs-on: ["self-hosted", "mgmt-automation"]
    steps:
      # Get PR from merged commit to the default branch
      - uses: actions-ecosystem/action-get-merged-pull-request@v1
        id: get-merged-pull-request
        with:
          github_token: ${{ secrets.PAT_ORG_ADMIN_REPO_ALL }}

      # Publish Release
      - uses: release-drafter/release-drafter@v5
        id: release-drafter
        with:
          publish: ${{ !contains(steps.get-merged-pull-request.outputs.labels, 'no-release') }}
          prerelease: false
          config-name: auto-release.yml
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_ORG_ADMIN_REPO_ALL }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.18

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_ORG_ADMIN_REPO_ALL }}
